@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    position: relative;
}

h2 {
    padding-top: 1rem;
}

/* Warning will only  display on IE */
#warning {
    display: none;
}

/* Checkboxes addapted to this app from a Pen by Adam Quinlan (https://codepen.io/quinlo/pens/) */
div.checkbox-tags {
    list-style: none;
    padding: 1rem;
}

div.checkbox-tags div {
    display: inline;
}

div.checkbox-tags div label {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.1);
    color: #6b6464;
    white-space: nowrap;
    margin: 0.2em 0;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

div.checkbox-tags div label {
    padding: 0.5em 0.75em;
    cursor: pointer;
}

div.checkbox-tags div label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 0.625em;
    padding: 0.125em 0.375em 0.125em 0.125em;
    content: "\f067";
    -webkit-transition: -webkit-transform 0.35s ease-in-out;
    -moz-transition: -webkit-transform 0.35s ease-in-out;
    -o-transition: transform 0.35s ease-in-out;
    transition: transform 0.35s ease-in-out;
}

div.checkbox-tags div input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
    -webkit-transition: -webkit-transform 0.35s ease-in-out;
    -moz-transition: -webkit-transform 0.35s ease-in-out;
    -o-transition: transform 0.35s ease-in-out;
    transition: transform 0.35s ease-in-out;
}

div.checkbox-tags div input[type="checkbox"]:checked + label {
    background-color: rgba(29, 161, 242, 1);
    color: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

div.checkbox-tags div input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

div.checkbox-tags div input[type="checkbox"]:hover + label {
    background-color: rgba(0, 0, 0, 0.2);
    color: #6b6464;
}

div.checkbox-tags div input[type="checkbox"]:checked:hover + label {
    background-color: rgba(29, 161, 242, 0.7);
    color: #fff;
}

#checkboxes-minuetti label {
    padding-left: 0.5em;
    font-size: 0.9em;
}

.list-checkbox-item {
    width: 100%;
}

.list-group li.hr {
    list-style: none;
}

.page-footer {
    background-color: #4e5d6c;
}

.page-footer p {
    font-size: 0.9em;
}

#music {
    display: block;
}

#table {
    margin: 0 auto;
}

.individual-minuetto {
    border: 0.2em solid #2b3e50;
    font-size: 1rem;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

#minuetti .btn-primary:hover {
    border-color: #2b3e50;
}

#minuetti .minuetto-playing:hover {
    border-color: #2b3e50;
}

.table-responsive {
    display: inline-table;
}

.table-dark td {
    font-size: 0.8em;
}

button.bar {
    padding: 0;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

a.bar {
    padding: 1em;
}

.bar {
    width: 100%;
    height: 3.5em;
    background-color: #2b3e50;
    font-size: 0.7em;
}

.bar:hover:not(.selected) {
    background-color: rgba(0, 0, 0, 0.2);
}

.bar.active:hover {
    background-color: #12bbd4;
}

.bar.selected:hover {
    background-color: rgba(29, 161, 242, 0.8);
}

.modal-body img {
    display: block;
    margin: 0 auto;
}

.heading-modal {
    text-align: center;
}

#form-contact {
    margin: 0 2vw;
}

.display-3,
.display-4 {
    font-size: 2.5rem;
}

.millions {
    color: #df691a;
}

.disabled {
    opacity: 1;
    cursor: default;
}

.disabled.selected:not(.playing) {
    background-color: rgba(29, 161, 242, 0.2);
}

.disabled:not(.selected),
.disabled:not(.selected):hover {
    background-color: #2b3e50;
}

.social a i {
    color: #fff;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    /* font-size: 1em; */
    line-height: 2em;
    text-align: center;
    margin-top: 0.3em;
    background: #2b3e50;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.hr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.fa-twitter:hover {
    background: #1da1f2;
}

.fa-facebook-f:hover {
    background: #3b5998;
}

.fa-linkedin:hover {
    background: #4875b4;
}

.fa-instagram:hover {
    background: #e95950;
}

.list-unstyled li {
    margin-bottom: 1rem;
}

a:hover {
    text-decoration: none;
}

.jumbotron {
    padding: 4rem 2rem;
}

.selected {
    background-color: rgba(29, 161, 242, 0.2);
}

.playing {
    background-color: rgba(29, 161, 242, 1);
    height: 100%;
    font-size: 0.8em;
    text-shadow: 0.125em 0.125em 0.125em rgba(29, 161, 242, 0.8);
}

.minuetto-playing {
    background-color: rgba(29, 161, 242, 1);
}

.unselected {
    background-color: #fff;
}

#btn-randomise:active,
#play-minuetto:active,
#playminuetto:focus,
#btn-randomise:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #df691a;
}

#playminuetto:hover,
#btn-randomise:hover {
    background-color: #bd5916;
}

#btn-randomise:disabled,
#play-minuetto:disabled {
    cursor: default;
}

#btn-randomise:disabled:hover {
    background-color: #df691a;
}

button.btn:active,
button.btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

button.bar.playing:hover {
    background-color: rgba(29, 161, 242, 0.8);
}

.minuetto-playing:hover {
    background-color: rgba(29, 161, 242, 0.8);
}

.lead {
    font-size: 1em;
}

.list-links a {
    color: #df691a;
    font-weight: 600;
}

.list-links a:hover {
    color: #bd5916;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.list-links a:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

footer span {
    color: #df691a;
    font-weight: 600;
}

.footer-copyright {
    font-size: 0.7em;
    color: rgb(165, 165, 165);
}

.footer-copyright .my-name {
    color: #ebebeb;
}

/* Credit: adapted from https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
#btn-to-top {
    position: fixed;
    bottom: 1.25em;
    right: 1.25em;
    z-index: 99;
    border: none;
    cursor: pointer;
    color: #df691a;
    opacity: 0;
    background-color: transparent;
    -webkit-transition: all 0.6s ease-in-out 0.2s;
    -moz-transition: all 0.6s ease-in-out 0.2s;
    -o-transition: all 0.6s ease-in-out 0.2s;
    transition: all 0.6s ease-in-out 0.2s;
    font-size: 0.8rem;
}

#btn-to-top.active {
    pointer-events: auto;
    opacity: 0.4;
}

#btn-to-top.active:hover {
    opacity: 1;
}

#btn-to-top:focus {
    outline: none;
    border: none;
}

#my-navbar .nav-link {
    color: #2b3e50;
    font-weight: 500;
    -webkit-transition: all 0.55s ease-in-out;
    -moz-transition: all 0.55s ease-in-out;
    -o-transition: all 0.55s ease-in-out;
    transition: all 0.55s ease-in-out;
    font-size: 1.1rem;
}

.navbar-light .navbar-toggler {
    color: #2b3e50;
    border-color: #df691a;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar-light .navbar-toggler:focus {
    outline: none;
    border: none;
}

.navbar-toggler-icon:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#my-navbar .nav-link.active,
#my-navbar .nav-link:hover {
    color: white;
}

/*
Media queries
*/
@media (min-width: 360px) {
    #checkboxes-minuetti label {
        padding-left: 1em;
    }
}

@media (min-width: 440px) {
    #checkboxes-minuetti label {
        padding-left: 1.6em;
    }
}

@media (min-width: 768px) {
    #btn-to-top {
        font-size: 1.2rem;
    }

    .social a {
        display: block;
        line-height: 2em;
    }

    div.checkbox-tags div label::before {
        font-size: 1rem;
    }

    .table-dark td {
        font-size: 1em;
        width: 20em;
    }

    .display-3 {
        font-size: 4.5rem;
    }

    .display-4 {
        font-size: 4rem;
    }

    .lead {
        font-size: 1.25em;
    }

    .playing {
        font-size: 1.5em;
    }

    #checkboxes-minuetti label {
        padding-left: 1.4em;
        font-size: 1.2em;
    }

    .page-footer p {
        font-size: 1em;
    }

    .footer-copyright,
    .bar {
        font-size: 1em;
    }
}

@media (min-width: 1024px) {
    #checkboxes-minuetti label {
        padding-left: 0.4em;
    }
}

@media (min-width: 1200px) {
    #checkboxes-minuetti label {
        padding-left: 0.7em;
    }
}
/* Warnings display on Internet Explorer only */
@media screen\0 {
    #warning {
        display: block;
        background-color: #df691a;
        padding: 2em;
        font-weight: 600;
        text-align: center;
    }

    .warning-title {
        font-size: 2em;
    }
}

@media screen\9 {
    #warning {
        display: block;
        background-color: #df691a;
        padding: 2em;
        font-weight: 600;
        text-align: center;
    }

    .warning-title {
        font-size: 2em;
    }
}
