@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.fill {
  height: 30vh;
}

.page-footer {
  background-color: #4e5d6c;
}

#music {
  display: block;
}

#table {
  margin: 0 auto;
}

.bar {
  width: 75px;
  height: 70px;
  background-color: #2b3e50;
}

.bar:hover {
  background-color: #4e5d6c;
}

#myform {
  margin: 0 2vw;
}

.message-style {
  color: #ebebeb;
  padding: 2em;
  margin-bottom: 2em;
  background-color: #4e5d6c;
  font-weight: 700;
}

.social a i {
  color: #fff;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
  margin-top: 5px;
  background: #2b3e50;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social a i.fa-twitter:hover {
  background: #1da1f2;
}

.social a i.fa-facebook-f:hover {
  background: #3b5998;
}

.social a i.fa-linkedin:hover {
  background: #4875b4;
}

.social a i.fa-instagram:hover {
  background: #e95950;
}

a:hover {
  text-decoration: none;
}

.jumbotron {
  padding: 4rem 2rem;
}

@media (min-width: 768px) {
  .social a {
    display: block;
    line-height: 2em;
  }
}
